// Place all the styles related to the Emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contentAboutUs{
    
    background-color: rgba(0,0,0,0.7);
    padding:50px;
    height: 600px;
    width: 1200px;
    margin: 100px auto;
    color: white;
    
}
.heading{
    text-align: center;
}

.about{
   
}