// Place all the styles related to the Emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contentAboutUs{
    
    background-color: rgba(0,0,0,0.7);
    padding:50px;
    height: auto;
    width: 1200px;
    margin: 100px auto;
    color: white;
    
}
.heading{
    text-align: center;
}
.contentEmail{
     
    background-color: rgba(0,0,0,0.7);
    padding:50px;
    height: auto;
    width: 1200px;
    margin: 100px auto;
    color: orange;
}


.about{
    float: right;
    font-size: 30px;
    margin-right: 80px;
    color: orange;
}