// Place all the styles related to the Locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table{
    margin-left: 50px;
    font-size: 18px;
    color: white;
    text-align: center;
}
.contentLocations{
    background-color: rgba(0,0,0,0.7);
  padding:50px;
  height: 700px;
  width: 1000px;
  margin: 100px auto;
}