{"filter":false,"title":".gitignore","tooltip":"/blog/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":219.5,"scrollleft":0,"selection":{"start":{"row":21,"column":0},"end":{"row":21,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":12,"state":"start","mode":"ace/mode/ini"}},"timestamp":1520869783204,"hash":"ec03a8e3c6f9e342af8a47e3e2510d28fad5d849"}