<h1 class = "heading">About us!</h1>
<div class = "contentAboutUs">
    <p> 
        Example rails console command:
        Email.create(:email=>"emailaddress00@gmail.com")
    </p>
    
    <%= image_tag("avi-smaller.jpeg", :size => "280x360", :alt => "Alex_Picture") %>
    <%= image_tag("joey.jpeg", :size => "280x360", :alt => "Joey's picture") %>
    <%= image_tag("andrew_picture.png", :size => "280x360", :alt => "Andrew's picture") %>
    <p>Computer Science, Software engineering</p>
</div>