<h1 class = "heading">About us!</h1>

<h2>Alex</h2>
<p>
<%= image_tag("avi-smaller.jpeg", :size => "280x360", :alt => "Alex_Picture") %><br>
<font color = "white">
This is something about Alex
</font>
</p>

<h2>Joey</h2>
<p>
<%= image_tag("joey.jpeg", :size => "280x360", :alt => "Joey's picture") %><br>
<font color = "white">
This is something about Joey
</font>
</p>

<h2>Andrew</h2>
<p>
<%= image_tag("andrew_picture.png", :size => "280x280", :alt => "Andrew's picture") %><br>
<font color = "white">
This is something about Andrew
</font>

<h2>Maggie</h2>
<p>
<%= image_tag("maggie.jpg", :size => "312x312", :alt => "Maggie's picture") %><br>
<font color = "white">
This is something about Maggie
</font>
</p>