
<div class = "contentEmail">
    <h1 class = "heading">About us!</h1>
    
    <%= image_tag("avi-smaller.jpeg", :size => "280x360", :alt => "Alex_Picture", :class => "pic1") %>
     <div class = "about">
         <p>Alex Molina</p>
         <p>Computer Science, Software Engineering</p>
         <p>Contact: 111-222-3333</p>
         <p>Email:AlexDev@gmail.com</p>
         </div>
     <br></br>
    <%= image_tag("joey.jpeg", :size => "280x360", :alt => "Joey's picture") %>
     <div class = "about">
         <p>Joey Logan</p>
         <p>Computer Science, Cyber Security</p>
         <p>Contact: 111-222-3333</p>
         <p>Email:JoeyDev@gmail.com</p>
         </div>
     <br></br>
    
    <%= image_tag("andrew_picture.png", :size => "280x360", :alt => "Andrew's picture") %>
     <div class = "about">
         <p>Alex Molina</p>
         <p>Computer Science, Software Engineering</p>
         <p>Contact: 111-222-3333</p>
         <p>Email:AlexDev@gmail.com</p>
         </div>
     <br></br>
    <%= image_tag("maggie.jpg", :size => "280x360", :alt => "Maggie's picture") %>
     <div class = "about">
         <p>Alex Molina</p>
         <p>Computer Science, Software Engineering</p>
         <p>Contact: 111-222-3333</p>
         <p>Email:AlexDev@gmail.com</p>
         </div>
     <br></br>
    

  
    
    
    
    
    
    
    
   
    
</div>